/*
  TODO: Move this to an SCSS file
*/
.App {
  font-family: sans-serif;
  text-align: center;
}

.masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox; 
  display: flex;
  margin-left: -30px;
  width: auto;
}
.masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.masonry-grid_column > div { 
  background: grey;
  margin-bottom: 30px;
  border: none;
  border-radius: none;
}

/* TODO: fix overflow data */
.masonry-grid_column .card section {
  visibility: hidden;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightgray;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  cursor: pointer;
  opacity: 0;
  transition: visibility 0s, opacity 0.15s ease;
}

.masonry-grid_column .card:hover section {
  visibility: visible;
  opacity: 0.9;
}

.artwork-modal .modal-dialog {
  height: calc(100% - 3.5rem);
}

.artwork-modal .modal-dialog .modal-content {
  height: 100%;
}

.artwork-modal .modal-dialog .modal-content img {
  max-width: 100%;
}

/* Modal Image Height Adjustments */
.artwork-modal .modal-body {
  height: calc(100% - 4.5rem);
}

.artwork-modal .modal-body .container,
.artwork-modal .modal-body .row,
.artwork-modal .modal-body .container .row div:nth-child(1) {
  height: 100%;
}

.artwork-modal .modal-body .container img {
  max-height: 100%;
}

.artwork-modal .modal-body .container .row > div:nth-child(1) {
  text-align: center;
  justify-content: center;
}

.artwork-modal .modal-body .container .row > div {
  display: flex;
  align-items: center;
  max-height: 100%;
}

.artwork-modal .modal-body .container .row > div:nth-child(2) {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.artwork-modal .modal-body .container .row section {
  position: absolute;
  display: flex;
  flex-direction: column;
}

#App {
  padding-top: 56px;
  padding-bottom: 30px;
}

#App > .container {
  padding-top: 30px;
}

#Nav .navbar-nav {
  display: flex;
  width: 100%;
}

#Nav .navbar-text {
  width: 20.5%; 
}

#Nav form {
  width: 50%;
}