/*
  TODO: Move this to an SCSS file
*/
.App {
  font-family: sans-serif;
  text-align: center;
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
  border: none;
  border-radius: none;
}

.masonry-grid_column .card section {
  visibility: hidden;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightgray;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  cursor: pointer;
  opacity: 0;
  transition: visibility 0s, opacity 0.15s ease;
}

.masonry-grid_column .card:hover section {
  visibility: visible;
  opacity: 0.9;
}

#App > .container {
  padding-top: 30px;
}